<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuyiyun.YYdata.modular.newsweb.mapper.DataWebSiteMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuyiyun.YYdata.modular.newsweb.entity.DataWebSite">
        <id column="uuid" property="uuid" />
        <result column="data_web_media" property="dataWebMedia" />
        <result column="website_name" property="websiteName" />
        <result column="website_sub_name" property="websiteSubName" />
        <result column="website_sub_url" property="websiteSubUrl" />
        <result column="sub_host" property="subHost" />
        <result column="language" property="language" />
        <result column="remark" property="remark" />
        <result column="proxy" property="proxy" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    
    <!-- 搜索框附加条件列段 -->	
	<sql id="baseWhere">
		<trim prefix="and" prefixOverrides="and | or">
			<if test="param.websiteName != null and param.websiteName != ''">
	            and website_name like CONCAT('%',#{param.websiteName},'%')
	        </if>
	        <if test="param.websiteSubName != null and param.websiteSubName != ''">
	            and website_sub_name like CONCAT('%',#{param.websiteSubName},'%')
	        </if>
	
	        <if test="param.subHost != null and param.subHost != ''">
	            and sub_host = #{param.subHost}
	        </if>
	
	        <if test="param.websiteSubUrl != null and param.websiteSubUrl != ''">
	            and website_sub_url like CONCAT('%',#{param.websiteSubUrl},'%')
	        </if>
	
	        <if test="param.proxy != null and param.proxy != ''">
	            and proxy = #{param.proxy}
	        </if>
	
	        <if test="param.state != null and param.state != ''">
	            and state = #{param.state}
	        </if>
		</trim>
	</sql>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        uuid as uuid,
        data_web_media as data_web_media,
        website_name as website_name,
        website_sub_name as website_sub_name,
        website_sub_url as website_sub_url,
        sub_host as sub_host,
        language as language,
        remark as remark,
        proxy as proxy,
        state as state,
        create_time as create_time,
        update_by as update_by,
        create_by as create_by,
        update_time as update_time
    </sql>
     <!-- 分页查询加搜索框条件 -->
    <select id="getSites" resultType="com.yuyiyun.YYdata.modular.newsweb.entity.DataWebSite">
    	select
	    <include refid="BaseColumnList" />
	    from data_web_website where data_web_media = #{id}
	    <include refid="baseWhere"/>
    </select>
    
    
    <!-- 查询媒体名称 -->
	<select id="selectMediaName" parameterType="com.yuyiyun.YYdata.modular.newsweb.vo.DataWebsiteVo" resultType="com.yuyiyun.YYdata.modular.newsweb.vo.DataWebsiteVo">
		SELECT website_name FROM data_web_media WHERE uuid=#{uuid}
	</select>

	
    <!-- 根据id查询网站信息 -->
    <select id="selectSiteById" resultType="com.yuyiyun.YYdata.modular.newsweb.entity.DataWebSite" parameterType="com.yuyiyun.YYdata.modular.newsweb.entity.DataWebSite">
    	select * from data_web_website 
    	where uuid=#{id}
    </select>
    
     <!-- 修改 -->
	<update id="updateSite">
		UPDATE data_web_website SET
		website_name = #{websiteName},
		website_sub_name = #{websiteSubName},
		website_sub_url = #{websiteSubUrl},
		sub_host = #{subHost},
		language = #{language},
		proxy = #{proxy},
		update_by = #{updateBy},
		update_time = NOW()
		WHERE uuid = #{uuid}
	</update>
   
    <!-- 网站删除 -->
   	<delete id="delete">
   		delete from data_web_website where uuid=#{id}
   	</delete>
   	
   	 <!-- 根据媒体id删除 -->
   	<delete id="deleteByMediaId">
   		delete from data_web_website where data_web_media=#{id}
   	</delete>
   	
   	 <!-- 新增 -->
   	<insert id="add" parameterType="com.yuyiyun.YYdata.modular.newsweb.entity.DataWebSite">
		insert into data_web_website
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">uuid,</if>
			<if test="dataWebMedia != null">data_web_media,</if>
			<if test="websiteName != null">website_name,</if>
			<if test="websiteSubName != null">website_sub_name,</if>
			<if test="websiteSubUrl != null">website_sub_url,</if>
			<if test="subHost != null">sub_host,</if>
			<if test="language != null">language,</if>
			<if test="proxy != null">proxy,</if>
			<if test="state != null">state,</if>
			<if test="createBy != null">create_by,</if>
			<if test="createTime != null">create_time</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">#{uuid},</if>
			<if test="dataWebMedia != null">#{dataWebMedia},</if>
			<if test="websiteName != null">#{websiteName},</if>
			<if test="websiteSubName != null">#{websiteSubName},</if>
			<if test="websiteSubUrl != null">#{websiteSubUrl},</if>
			<if test="subHost != null">#{subHost},</if>
			<if test="language != null">#{language},</if>
			<if test="proxy != null">#{proxy},</if>
			<if test="state != null">#{state},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="createTime != null">#{createTime}</if>
		</trim>
	</insert>
</mapper>
