<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuyiyun.YYdata.modular.dataconfig.mapper.DataConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuyiyun.YYdata.modular.dataconfig.entity.DataConfig">
        <id column="uuid" property="uuid" />
        <result column="data_source" property="dataSource" />
        <result column="data_dict" property="dataDict" />
        <result column="key" property="key" />
        <result column="value" property="value" />
        <result column="name" property="name" />
        <result column="summary" property="summary" />
        <result column="sort" property="sort" />
        <result column="remark" property="remark" />
        <result column="state" property="state" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        uuid as uuid,
        data_source as dataSource,
        data_dict as dataDict,
        key as key,
        value as value,
        name as name,
        summary as summary,
        sort as sort,
        remark as remark,
        state as state,
        creator as creator,
        create_time as createTime,
        update_time as updateTime
    </sql>

    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="dataConfig.uuid != null and dataConfig.uuid != ''">
                and uuid = #{dataConfig.uuid}
            </if>
            <if test="dataConfig.dataSource != null and dataConfig.dataSource != ''">
                and data_source = #{dataConfig.dataSource}
            </if>
            <if test="dataConfig.dataDict != null and dataConfig.dataDict != ''">
                and data_dict = #{dataConfig.dataDict}
            </if>
            <if test="dataConfig.key != null and dataConfig.key != ''">
                and key = #{dataConfig.key}
            </if>
            <if test="dataConfig.value != null and dataConfig.value != ''">
                and value = #{dataConfig.value}
            </if>
            <if test="dataConfig.name != null and dataConfig.name != ''">
                and name = #{dataConfig.name}
            </if>
            <if test="dataConfig.summary != null and dataConfig.summary != ''">
                and summary = #{dataConfig.summary}
            </if>
            <if test="dataConfig.sort != null and dataConfig.sort != ''">
                and sort = #{dataConfig.sort}
            </if>
            <if test="dataConfig.remark != null and dataConfig.remark != ''">
                and remark = #{dataConfig.remark}
            </if>
            <if test="dataConfig.state != null and dataConfig.state != ''">
                and state = #{dataConfig.state}
            </if>
            <if test="dataConfig.creator != null and dataConfig.creator != ''">
                and creator = #{dataConfig.creator}
            </if>
            <if test="dataConfig.createTime != null and dataConfig.createTime != ''">
                and create_time = #{dataConfig.createTime}
            </if>
            <if test="dataConfig.updateTime != null and dataConfig.updateTime != ''">
                and update_time = #{dataConfig.updateTime}
            </if>
        </trim>
    </sql>


    <!-- 分页查询 -->
    <select id="selectPage" resultType="com.yuyiyun.YYdata.modular.dataconfig.entity.DataConfig">
        select <include refid="BaseColumnList"/>
        from data_config
        <include refid="BaseWhere"/>
    </select>

</mapper>
