<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuyiyun.YYdata.modular.perfoapp.mapper.PerfoAppraisalMapper">
    
    <resultMap type="com.yuyiyun.YYdata.modular.perfoapp.entity.PerfoAppraisalEntity" id="PerfoAppraisalResult">
        <result property="uuid"    column="uuid"    />
        <result property="thePerson"    column="the_person"    />
        <result property="department"    column="department"    />
        <result property="ckMonth"    column="ck_month"    />
        <result property="superior"    column="superior"    />
        <result property="insDate"    column="ins_date"    />
        <result property="wkPerform"    column="wk_perform"    />
        <result property="seAbility"    column="se_ability"    />
        <result property="attWard"    column="att_ward"    />
        <result property="exeInspec"    column="exe_inspec"    />
        <result property="attStas"    column="att_stas"    />
        <result property="tatal"    column="tatal"    />
        <result property="overall"    column="overall"    />
    </resultMap>

    <sql id="selectPerfoAppraisalVo">
        select uuid, the_person, department, ck_month, superior, ins_date, wk_perform, se_ability, att_ward, exe_inspec, att_stas, tatal, overall from perfo_appraisal
    </sql>

</mapper>